<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, &#xA;      Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <dataConfiguration defaultDatabase="Connection String"/>
  <connectionStrings>
    <!--
    <add name="LiveUtilitiesDB" connectionString="Data Source=tcp:pgsssql56_lgp,5010;Initial Catalog=LiveGenericPegPayApi; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="LiveVasPegPay" connectionString="Data Source={0};Initial Catalog=LiveGenericPegPayApi;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="TestVasPegPay" connectionString="Data Source={0};Initial Catalog=GenericPegPayApi;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient"/>
    <add name="LivePegPay" connectionString="Data Source=tcp:pgsssql12_lmm,5001;Initial Catalog=LiveMobileMoneyDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="LivePegPayArc" connectionString="Data Source=tcp:pgsssql12_lmm,5001;Initial Catalog=LiveMobileMoneyDB_arc;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="TestPegPay" connectionString="Data Source={0};Initial Catalog=MobileMoneyDB;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient"/>
    <add name="LivePosPegPay" connectionString="Data Source={0};Initial Catalog=InternetBanking;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient"/>
    <add name="TestPosPegPay" connectionString="Data Source={0};Initial Catalog=TestInternetBanking;user id=sa;password=T3rr1613" providerName="System.Data.SqlClient"/>
    <add name="LiveSchoolFees" connectionString="Data Source=tcp:pgsssql34_ssf,5013;Initial Catalog=LiveStanbicSchoolFees;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    -->
    <add name="ConnectionString" connectionString="Data Source=TESTSVR-NTINDA;Initial Catalog=MobileMoneyDB; Persist security info = true; Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="TestPegPay" connectionString="Data Source=TESTSVR-NTINDA;Initial Catalog=TestGenericPegPayApi; integrated security = true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="26000"/>
    <identity impersonate="false"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataSetConversion, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <sessionState timeout="3"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <siteMap defaultProvider="SamplesSiteMap">
      <providers>
        <add name="SamplesSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Samples.sitemap"/>
        <add name="WalkthroughsSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Walkthroughs.sitemap"/>
      </providers>
    </siteMap>
    <globalization culture="en-us" uiCulture="en" fileEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
    </appSettings>
  </location>
</configuration>